section{
    padding: 30px 0;
    background-color: var(--main);
}

body {
  overflow-x: hidden;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

:root {
  --primary: #52588f;
  --secondary: #493548;
  --third: #6a8d92;
  --main: #80b192;
  --light: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
  background-color: var(--secondary);
  border-bottom: 4px solid antiquewhite;
}

.navbar-brand{
    background-color: var(--secondary)
}

.navbar-brand span{
    font-size: 20px;
    font-family: "DM Sans"

}

.navbar-toggler {
  border-color: var(--light);
  background-color: transparent;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(250, 235, 215, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-collapse{
    background-color: var(--third);
    border-radius: 0 0 8px 8px;
    border-top: 3px solid antiquewhite;
    border-left: 2px solid antiquewhite;
    border-right: 2px solid antiquewhite;
    border-bottom: 2px solid antiquewhite;
}

.navbar-collapse a{
    font-family: "DM Sans";
    -webkit-text-fill-color: antiquewhite;
    
}

.navbar-nav .nav-link {
  padding-left: 8px;
  padding-right: 8px;
}

.main{
    background-color: rgb(128, 177, 146);
    padding-top: 0;
}

.main h1{
    font-size: 5.5rem;
    font-family: "Montserrat";
    font-weight: 600;
    color: white;
    

}

.main h6{
    font-size: 1.5rem;
    font-family: "DM Sans";
    font-style: italic;
    color: antiquewhite;
}

.main p{
    font-size: 0.9rem;
    font-family: "Open Sans";
    color: antiquewhite;
}

.main .row{
    margin: -40px;
}

.left-side-main{
    background-color: var(--primary);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    width: 56%;
    border: 4px solid antiquewhite;
    box-shadow: 0px 4px 10px rgba(24, 34, 28, 0.486);
    
}

.right-side-main{
  padding: 0;
  min-height: 100vh;
}

.right-side-main img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border: 4px solid antiquewhite;
  box-shadow: 0px 4px 10px rgba(24, 34, 28, 0.486);
}

.gap-col {
  width: 20px;
  flex: none;
}

.second{
  background-color: var(--third);
  padding: 30px;
}

.second .container-lg{
    margin-top: -20px;
    background-color: antiquewhite;
    border: 4px solid var(--secondary);
    box-shadow: 0px 4px 10px rgba(24, 34, 28, 0.486);
}
.second .row{
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.second h3{
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    color: var(--secondary);
    background-image: url('assets/mountains2.jpg');
    background-position: center 30%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: 4px solid var(--secondary);
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    transform: translateY(52px);
    box-shadow: 0px 4px 10px rgba(24, 34, 28, 0.486);
    
}

.divided-cols .col-md-3 + .col-md-3{ 
  border-left: 8px solid var(--secondary);
}

.second h5{
  font-family: "DM Sans";
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 500;
  text-align: center;
}

.second p{
  font-family: "Open Sans";
  font-size: 0.8rem;
}

.second .col-md-4{
  padding: 30px;
}

.third{
  background-color: var(--main);
  padding: 90px;
}

.third h3{
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: antiquewhite;
  background-image: url('assets/forest.jpg');
  background-position: center 30%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border: 4px solid antiquewhite;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  box-shadow: 0px 4px 10px rgba(24, 34, 28, 0.486);
}

.third .card{
  background-color: var(--primary);
  padding: 18px;
  border: 2px solid antiquewhite;
  border-top-left-radius: 0px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  height: 100%;
  box-shadow: 0px 4px 10px rgba(24, 34, 28, 0.486);
}

.third .card img{
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0px 4px 10px rgba(24, 34, 28, 0.486);
}

.third h6{
  color: antiquewhite;
}

.third button{
  margin: 15px;
  background-color: antiquewhite;
  color: var(--secondary);
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 0.8rem;
  box-shadow: 0px 4px 10px rgba(24, 34, 28, 0.486);
}

.third button:hover {
  background-color: var(--third);
  color: antiquewhite;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 1rem;
  box-shadow: 0px 4px 10px rgba(24, 34, 28, 0.486);
}



